click==8.0.3
colorama==0.4.4
distlib==0.3.4
dnspython==2.2.0
eventlet==0.33.0
filelock==3.5.0
Flask==2.0.3
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
platformdirs==2.5.0
python-engineio==3.13.2
python-socketio==4.6.1
six==1.16.0
virtualenv==20.13.1
Werkzeug==2.0.3
